$box-shadow: 0 .2em .4em 0 $shadow-color;
$border-radius: .2em;
$padding: .667em 0;
$font-size: .95em;
$font-weight: 600;

.ActionButton {
    @include box-shadow($box-shadow);
    @include border-radius($border-radius);
    padding: $padding;
    background: $accent-color;
    color: $action-button-color;
    font-size: $font-size;
    font-weight: $font-weight;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: lighten($accent-color, 10%);
    }
}