$accent-color: rgb(20, 211, 113);

$accent-color-inactive: rgb(227, 227, 227);

$action-bar-button-color: rgba(0, 0, 0, .63);

$action-button-color: rgb(255, 255, 255);

$app-color: rgb(27, 164, 255);

$email-item-overlay-color: rgba(0, 0, 0, .075);

$error-color: rgb(204, 51, 51);

$header-button-color: rgb(255, 255, 255);

$header-color: rgb(235, 235, 235);

$input-placeholder-color: rgb(227, 227, 227);

$input-placeholder-focus-color: rgb(242, 242, 242);

$menu-overlay-color: rgba(0, 0, 0, .15);

$menu-link-color: rgba(0, 0, 0, .87);

$separator-color: rgb(225, 225, 255);

$shadow-color: rgba(0, 0, 0, .35);

$side-bar-bg-color: rgb(255, 255, 255);
