$email-table-row-padding: 1.25em;
$email-table-row-padding-mobile: 1em;
$input-font-size: 1.01em;
$main-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
$mobile-media: all and (max-device-width: 1023px);

